<md-toolbar layout="row" class="md-hue-2">
    <div class="md-toolbar-tools">
        <h2>GRP Application</h2>
    </div>
    <md-menu ng-if="authenticated === true">
        <md-button aria-label="" ng-click="$mdOpenMenu($event)">
            Manage
        </md-button>
        <md-menu-content width="4">
            <md-menu-item>
                <md-button ui-sref="main.contacts">
                    Manage Contacts
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ui-sref="main.defaults">
                    Manage Defaults
                </md-button>
            </md-menu-item>
            <!--<md-menu-item>-->
                <!--<md-button ng-click="logout($event)">-->
                    <!--Logout-->
                <!--</md-button>-->
            <!--</md-menu-item>-->
        </md-menu-content>
    </md-menu>
    <md-button ng-if="authenticated === false" ng-click="authenticate()">Login</md-button>
</md-toolbar>